* {
  margin: 0;
  padding: 0;
  font-family: Manulife JH Sans;
}
.navbar {
    font-size: 14px;
    background-color: rgba(250, 250, 250, 0.8);
    border: 1px solid rgba(142, 144, 162, 0.3);
    padding-bottom: 2px;
}
.main-nav, .nav-dropdown {
    list-style-type: none;
}
.nav-links, .logo, .drop-links {
    text-decoration: none;
    color: rgb(94, 96, 115);
}
.nav-dropdown {
  display: none;
}
.main-nav li {
    text-align: center;
    background-color: rgba(250, 250, 250, 0.8);
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0.5px solid rgba(142, 144, 162, 0.3);
}
li:hover {
  background-color: rgba(237, 237, 237, 0.8);
}
a:hover {
  color: #0000C1;
}
.logo {
    display: inline-block;
    padding-top: 5px;
    padding-left: 5px;
}
.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    opacity: 0.8;
}
.navbar-toggle:hover {
    opacity: 1.0;
}
.main-nav {
    list-style-type: none;
    display: none;
}
.active {
  display: block;
  width: 23.5%;
  float: right;
  padding-top: 43px;
}
.activedrop {
  display: block;
  padding-top: 15px;
  margin-bottom: -15px;
}
.drop-links {
  font-size: 12px;
}
.activedrop li {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0px;
  background-color: rgba(237, 237, 237, 0.3);
  border: 0.1px solid rgba(142, 144, 162, 0.05);
}
.activedrop li:hover {
  background-color: rgba(142, 144, 162, 0.05);
}
.all-nav {
  position: fixed;
  width: 100%;
  z-index: 10;
}
.titlehead {
  z-index: -1;
  background-color: #5CD790;
  height: 200px;
  box-shadow: 0px 1px 6px grey;
  position: relative;
  top: 45px;
}
.titlehead h1, h2 {
  color: #FFFFFF;
  text-align: center;
  font-weight: normal;
}
.titlehead h1 {
  font-size: 36px;
  align-self: center;
  position: relative;
  top: 75px;
}
.titlehead h2 {
  position: relative;
  top: 100px;
  right: 0%;
  font-size: 20px;
  align-self: center;
}
.qna {
  position: relative;
  top: 100px;
}
.question h1{
  color: #34384B;
  font-size: 38px;
  font-weight: 500;
  text-align: center;
}
.options {
  text-align: center;
  position: relative;
  top: 100px;
}
.mac img, .iphone img {
  opacity: 0.9;
}
.vr {
  background-color: #8E90A2;
  width: 1px;
  height: 160px;
  position: absolute;
  left: 50%;
}
.mac p, .iphone p {
  position: relative;
  top: 20px;
  color: #5E6073;
  font-size: 18px;
}
a {
  text-decoration: none;
}
.mac img:hover, .iphone img:hover {
  opacity: 1;
}
.all-epp {
  position: relative;
  top: 300px;
}
.epp {
  position: relative;
  top: 100px;
}
.text {
  width: 350px;
  position: relative;
  left: 6.5%;
  top: 15px;
}
.text h1 {
  color: #34384B;
  font-size: 38px;
  font-weight: 500;
  line-height: 1.3;
}
.text p {
  font-size: 22px;
  color: #5E6073;
  line-height: 1.3;
  position: relative;
  top: 15px;
}
.epp img {
  float: right;
  margin-bottom: 100px;
}
.epp .text a {
  text-decoration: none;
}
.epp .text p:hover{
  color: #000000;
}
