* {
  margin: 0;
  padding: 0;
  font-family: Manulife JH Sans;
}
.navbar {
    font-size: 14px;
    background-color: rgba(250, 250, 250, 0.8);
    border: 1px solid rgba(142, 144, 162, 0.3);
    padding-bottom: 2px;
}
.main-nav, .nav-dropdown {
    list-style-type: none;
}
.nav-links, .logo, .drop-links {
    text-decoration: none;
    color: rgb(94, 96, 115);
}
.nav-dropdown {
  display: none;
}
.main-nav li {
    text-align: center;
    background-color: rgba(250, 250, 250, 0.8);
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0.5px solid rgba(142, 144, 162, 0.3);
}
li:hover {
  background-color: rgba(237, 237, 237, 0.8);
}
a:hover {
  color: #0000C1;
}
.logo {
    display: inline-block;
    padding-top: 5px;
    padding-left: 5px;
}
.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    opacity: 0.8;
}
.navbar-toggle:hover {
    opacity: 1.0;
}
.main-nav {
    list-style-type: none;
    display: none;
}
.active {
  display: block;
  width: 23.5%;
  float: right;
  padding-top: 43px;
}
.activedrop {
  display: block;
  padding-top: 15px;
  margin-bottom: -15px;
}
.drop-links {
  font-size: 12px;
}
.activedrop li {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0px;
  background-color: rgba(237, 237, 237, 0.3);
  border: 0.1px solid rgba(142, 144, 162, 0.05);
}
.activedrop li:hover {
  background-color: rgba(142, 144, 162, 0.05);
}
.all-nav {
  position: fixed;
  width: 100%;
  z-index: 10;
}
.titlehead {
  z-index: -1;
  position: relative;
  top: 42px;
  background-color: #5CD790;
  height: 150px;
  box-shadow: 0px 1px 6px grey;
}
.titlehead h1 {
  color: #FFFFFF;
  text-align: center;
  font-weight: normal;
  font-size: 36px;
  align-self: center;
  position: relative;
  top: 60px;
}
main {
  position: relative;
  top: 150px;
}
.all-form {
  float: right;
}
main h2 {
  font-weight: normal;
  font-size: 28px;
  padding-bottom: 10px;
  color: #282B3E;
}
main p {
  font-size: 16px;
  padding-bottom: 10px;
  color: #282B3E;
}
.contact-form .row {
  padding: 10px 0px;
}
input, textarea {
  font-size: 16px;
  padding: 8px 8px;
  border-radius: 5px;
  width: 100%;
}
textarea {
  height: 160px;
}
.all-form {
  margin-left: 100px;
}
#warning p {
  font-size: 14px;
  line-height: 1.4;
}
#warning a {
  text-decoration: none;
  color: #0000C1;
  font-weight: 600;
}
#warning a:hover {
  color: #000060;
}
.contact-img {
  text-align: center;
  position: relative;
  top: 250px;
}
button {
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #C1D8F7;
  margin-bottom: 100px;
}
button:hover {
  background-color: #EDEDED;
  cursor: pointer;
}
